:root {
    --dashboard-color: #0BA6DF;
    --text-color-white: white;
    --background-color: rgb(244, 242, 242);
    --content-background: #f2f5f9;
}

@font-face {
    font-family: 'Roboto';
    src: url('src/fonts/Roboto_Condensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(5, 200px);
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1fr 2fr;
    background-color: var(--dashboard-color);
    color: var(--text-color-white);
    padding-left: 2rem;
}


.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-items: center;
    
}

.header-top-item {
    display: grid;
    place-items: center;
}

.icon-header {
    height: 25px;
    
}

.logo-header-top {
    height: 40px;
}

input {
    width: 100%;
    border: none;
    height: 1.5rem;
    background-color: rgb(244, 242, 242);
    border-radius: 10px;

}

.header-bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    
}

.header-bottom-item-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.header-bottom {
    align-items: center;
    justify-items: center;
}

.header-bottom-btn {
    padding: 10px 30px;
    background-color: var(--dashboard-color);
    color: white;
    border-radius: 12px;
    border: none;
}

.main-content {
    background-color: var(--content-background);
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px auto;
    gap: 20px;
    padding: 20px 20px;

}


.main-title {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    
    
}
.main-announcements {
    background-color: var(--content-background);
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding-right: 20px;
    padding-top: 20px;
    gap: 10px;
    
}

.main-trending {
    grid-row: 4 / 6;
    background-color: var(--content-background);
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;

}

.trending-card {
    grid-row: 2 / 3;
    border: 0.5px solid lightgray;
    border-radius: 4px;
    background-color: var(--text-color-white);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    padding: 20px;
}

.trending-icon {
    height: 50px;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 15px;

}

.trending-item-right {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
}
.announcement-text {
    
    
    grid-row: 1 / 2;
}

.announcement-card {
    grid-row: 2 / 3;
    border: 0.5px solid lightgray;
    border-radius: 4px;
    background-color: var(--text-color-white);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 30px;
    gap: 10px;
    
}

.announcement-card-content { 
    border-bottom: 0.5px solid lightgray;
}

.card {
    border: 0.5px solid lightgray;
    border-radius: 4px;
    background-color: var(--text-color-white);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: 5px 1fr;
    grid-template-rows: repeat(3, auto);
    
}

.card > *:not(.bar){
    padding-left: 20px;
    padding-right: 20px;
}


.icons {
    justify-self: right
}
.card-icon {
    height: 20px;
}

.bar {
    grid-column: 1 / 2;
    background-color: orange;
    grid-row: 1/ 4;
    
}
.card-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: end;
}

.card-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.icon {
    height: 35px;
    filter: invert(100%);
}




.item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.75rem;
}


