@font-face {
    font-family: 'Roboto';
    src: url('src/fonts/Roboto_Condensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(5, 200px);
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-columns: 1.5fr 3fr; 
    grid-template-rows: 5fr 3fr 1fr;
}

.dashboard > *{
    outline: 0.5px solid gray;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content {
    background-color: lightgreen;
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}


.main-announcements {
    background-color: lightcoral;
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    
}

.header-top {
    background-color: lightgoldenrodyellow;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header-bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: aqua;
}
