:root {
    --dashboard-color: #0BA6DF;
    --text-color-white: white;
}

@font-face {
    font-family: 'Roboto';
    src: url('src/fonts/Roboto_Condensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(5, 200px);
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1fr 2fr;
    background-color: var(--dashboard-color);
    color: var(--text-color-white);
    padding-left: 2rem;
}


.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-items: center;
    
}

.header-top-item {
    display: grid;
    place-items: center;
}

.icon-header {
    height: 25px;
    
}

.logo-header-top {
    height: 40px;
}

input {
    width: 100%;
    border: none;
    height: 1.5rem;
    background-color: rgb(244, 242, 242);
    border-radius: 10px;

}

.main-content {
    background-color: lightgreen;
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}


.main-announcements {
    background-color: lightcoral;
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    
}


.header-bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: aqua;
}

.icon {
    height: 35px;
    filter: invert(100%);
}



.item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.75rem;
}


