* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 200px);
}

.dashboard {
    background-color: lightblue;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    
    
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content {
    background-color: lightgreen;
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}


.announcements {
    background-color: lightcoral;
    grid-column: 2 / 3;
    
}

.header-top {
    background-color: lightgoldenrodyellow;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header-bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: aqua;
}
